.site{
	margin: 4em;
}

.imgset{
	max-width:50%;
    height: auto;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
}

.imgset1{
	max-width:50%;
    height: auto;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
	
}
.site h1{
	text-align: center;

}