.site{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 2em;

	grid-template-areas:
		"about   facts"
		"flu  prevent";
}

.about{
	grid-area: about;
	margin-top: 20px;

}

.facts{
	grid-area: facts;
	margin-top: 20px;
}

.flu{
	grid-area: flu;
	margin-top: 20px;
}

.prevent{
	grid-area:prevent;
	margin-top: 20px;
}
.astyle a{
	background-color: #9ad3cc;
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
.astyle a:hover {
	border: 0px solid #004F46;
	color: #004F46;
	background: #dfe675;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

.astyle2 a{
	background-color: #9ad3cc;
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top:40px;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
.astyle2 a:hover {
	border: 0px solid #004F46;
	color: #004F46;
	background: #dfe675;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

.astyle3 a{
	background-color: #9ad3cc;
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top:35px;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
.astyle3 a:hover {
	border: 0px solid #004F46;
	color: #004F46;
	background: #dfe675;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

.astyle4 a{
	background-color: #9ad3cc;
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top:8px;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}
.astyle4 a:hover {
	border: 0px solid #004F46;
	color: #004F46;
	background: #dfe675;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

.site{
	margin: 4em;
	max-width: 960px;
	margin: 0 auto;
}


.about,
.prevent{
	
	border:3px solid #9AD3CC;

}


.facts,
.flu{
	border:3px solid #dfe675;

}

.about h1{
	background-color: #9ad3cc;
	text-align:center;
	padding: 5px 0px;
}

.facts h1{
	background-color: #dfe675;
	text-align:center;
	padding: 5px 0px;

}

.flu h1{
	background-color: #dfe675;
	text-align:center;
	padding: 5px 0px;
}

.prevent h1{
	background-color: #9ad3cc;
	text-align:center;
	padding: 5px 0px;
}

.about h2,
.facts h2,
.flu h2,
.prevent h2{
	padding-top: 1em;
	padding-left: 8px;
}

.about p,
.facts p,
.flu p,
.prevent p{
	padding:8px;
}

.prenvent-flu{
	padding-left: 1.5em;
}









.imgset{
	display:block;
	width:100%;
	margin:0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.imgset1{
	max-width:40%;
    height: auto;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
	
}


@media screen and (max-width:960px) {
	.site{
		grid-template-columns: 1fr;
		grid-template-areas: 
		"about"
		"facts"
		"flu"
		"prevent";
	}
}











